[buildout]

parts =
    instance
    repozo
    backup
    zopepy
    vscode

# makes sure you're not running buildout as root.
extensions =
    buildout.sanitycheck
    mr.developer

extends =
    base.cfg
    http://dist.plone.org/release/5.2-latest/versions.cfg

find-links +=
    http://dist.plone.org/release/5.2-latest

eggs =
    Plone
    Pillow
    collective.dexteritytextindexer
    sinar.resource
    sinar.activity
    sinar.organization
    sinar.citation
    sinar.project
    sinar.miscbehavior

zcml =
#    plone.reload

auto-checkout = 
    sinar.resource
    sinar.activity
    sinar.organization
    sinar.citation
    sinar.project
    sinar.miscbehavior


develop =
#    src/my.package


var-dir=${buildout:directory}/var
backups-dir=${buildout:var-dir}
user=admin:admin
deprecation-warnings = off
verbose-security = off


[mr.developer]
threads = 2

[sources]
sinar.resource = git https://github.com/Sinar/sinar.resource/ branch=main
sinar.activity = git https://github.com/Sinar/sinar.activity/ branch=main
sinar.organization = git https://github.com/Sinar/sinar.organization branch=main
sinar.citation = git https://github.com/Sinar/sinar.citation/ branch=main
sinar.project = git https://github.com/Sinar/sinar.project/ branch=main
sinar.miscbehavior = git https://github.com/Sinar/sinar.miscbehavior/ branch=main


[instance]
<= instance_base
recipe = plone.recipe.zope2instance
http-address = 127.0.0.1:8080


[versions]
