[buildout]

parts =
    instance
    repozo
    backup
    zopepy
    vscode

# makes sure you're not running buildout as root.
extensions =
    buildout.sanitycheck
    mr.developer

extends =
    base.cfg
    http://dist.plone.org/release/5.2-latest/versions.cfg

find-links +=
    http://dist.plone.org/release/5.2-latest

eggs =
    Plone
    Pillow
    collective.dexteritytextindexer
    sinar.advisory
    sinar.activity
    sinar.article
    sinar.organization
    sinar.project
    sinar.miscbehavior
    sinar.resource
    imap.customizations
    collective.vocabularies.iso
    collective.behavior.banner
    plone.app.mosaic
    plone.gallery
    eea.facetednavigation
    imap.customizations

zcml =
#    plone.reload

auto-checkout =  *

develop =
#    src/my.package

var-dir=${buildout:directory}/var
backups-dir=${buildout:var-dir}
user=admin:admin
deprecation-warnings = off
verbose-security = off


[mr.developer]
threads = 2

[sources]
sinar.activity = git git@github.com:Sinar/sinar.activity branch=main
sinar.advisory = git git@github.com:Sinar/sinar.advisory branch=main
sinar.article = git git@github.com:Sinar/sinar.article branch=main
sinar.miscbehavior = git git@github.com:Sinar/sinar.miscbehavior branch=main
sinar.organization = git git@github.com:Sinar/sinar.organization branch=main
sinar.project = git git@github.com:Sinar/sinar.project branch=main
sinar.indicators = git git@github.com:Sinar/sinar.indicators branch=main
sinar.resource = git git@github.com:Sinar/sinar.resource branch=main
imap.customizations = git git@github.com:Sinar/imap.customizations.git
collective.vocabularies.iso = git git@github.com:Sinar/collective.vocabularies.iso.git

[instance]
<= instance_base
recipe = plone.recipe.zope2instance
http-address = 127.0.0.1:8080


[versions]
